@import "tailwindcss";
@theme {
  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}

.pause-animation-on-hover:hover {
  animation-play-state: paused;
}

.carousel {
  > * {
    flex: 0 0 100%;
  }
  &:hover .carousel-group {
    animation-play-state: paused;
  }
}

.carousel-group {
  display: flex;
  gap: 20px;
  padding-right: 20px;

  will-change: transform;
  animation: slide 15s linear infinite;
}
